subnet 172.30.1.0 netmask 255.255.255.0 {
    option routers 172.30.1.250;

    class "{{ serial_number }}" {
        match if option host-name = "{{ serial_number }}";
    }
    pool {
        allow members of "{{ serial_number }}";
        range {{ irb_ip }} {{ irb_ip }};
    }
}

# Host {{ serial_number }} 
host {{ hostname }} {
        option OPTION-150 172.30.1.64;
        option NEW_OP.image-file-name "{{ junos_image }}";
        option NEW_OP.transfer-mode "ftp";
        option NEW_OP.config-file-name "/home/ali/Desktop/Config/{{ hostname }}.conf";
}
# End {{ serial_number }} section


